.idea/APP-MVC.iml
.idea/deployment.xml
.idea/homie.iml
.idea/modules.xml
.idea/php.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/workspaceold.xml
.idea/codeStyles/codeStylesConfig.xml
.idea/inspectionProfiles/Project_Default.xml