form{
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    transform: translate(-50%);

}

fieldset{
    display: flex;
    flex-direction: column;
    text-align: center;
}


label{
    width:100%;
}

input{
    width:60%;
}

legend{
    text-align: center;
}

#submit{
    width: 50%;
    margin-left: 50%;
    transform: translate(-50%);
}

