form{
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    transform: translate(-50%);

}

fieldset{
    display: flex;
    flex-direction: column;
    text-align: center;
}


label{
    width:100%;
}

input{
    width:60%;
}

legend{
    text-align: center;
}

#submit{
    width: 50%;
    margin-left: 50%;
    transform: translate(-50%);
}

.complete{
    background-color: #eee;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 1px solid transparent;
}

.complete:invalid{
    border: 2px solid red;
}

.complete:hover{
    background-color: #ccc;
    border: 2px solid blue;
}
.complete:focus{
    border: 2px solid blue;
}