body{
    background: url("../../image/fond5.png") fixed;
    color: white;
}

header{
    height: 140px;
}

#roue{
    margin-left: 60%;
    display: flex;
    left: 30%;
    transform: translate(-50%);
    width: 30px;
    height: 30px;
}

#img{
    width: 260px;
    height: 118px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#parametre{
    margin-right: 95px;
    height: 30px;
}

#roue ul {
    visibility: hidden;
    position: absolute;
    flex-direction: column;
    list-style-type: none;
    margin-top: 35px;
    margin-left: -40px;
}

#roue ul a{
    text-decoration: none;
    color: white;
}

#roue ul a:hover{
    text-decoration: underline;
}

#roue img {
    position: relative;
}

#menu
{
    visibility: hidden;
    position: absolute;
    border: solid 3px;
    background: #505050;
    width: 100px;
    text-align: center;
    padding: 4px 4px;
    border-radius: 5px;
}
@media screen and (min-width: 550px){
    #roue
    {
        position: absolute;
        top: 85px;
    }

}

@media screen and (max-width: 550px){
    #roue
    {
        position: absolute;
        top: 130px;
        margin-left: 55%;
    }
}
