#tete
{
	display: flex;
	justify-content: space-between;
}

form
{
	margin-left: 30px;
}

.entete
{
	display: flex;
	align-items: center;
}

hr
{
	width: 100%;
	height: 1px;
	border: solid 1px;
}

h1
{
	margin: 0 10px;
}


#roomSection, #habitationSection
{
	display: grid;
    width: 100%;
    max-width: 85%;
    margin: 30px auto;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    grid-gap: 20px;
}

#roomSection div, #habitationSection div
{
	width: 150px;
	height: 150px;
	margin: 0 10%;
	border: solid 2px;
	border-radius: 10px;
	display: flex;
}

#roomSection div p, #habitationSection div p
{
	margin: auto;
}

#roomFactors {
	display: none;
}