#tete
{
	display: flex;
	justify-content: space-between;
}

form
{
	margin-left: 30px;
}

.entete
{
	display: flex;
	align-items: center;
}

hr
{
	width: 100%;
	height: 1px;
	border: solid 1px;
}

h1
{
	margin: 0 10px;
}


#roomSection, #habitationSection
{
	display: grid;
    width: 100%;
    max-width: 85%;
    margin: 30px auto;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    grid-gap: 20px;
}

#roomSection div, #habitationSection div
{
	width: 150px;
	height: 150px;
	margin: 0 10%;
	border: solid 2px;
	border-radius: 10px;
	display: flex;
}

#roomSection div p, #habitationSection div p
{
	margin: auto;
}

.roomFactors {
	width: 60%;
    display: none;
    margin-left: 20px;
}

.roomFactors div {
	display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.roomFactors form {
    margin-top: auto;
    margin-bottom: auto;
}

.input {
    width: 40px;
}

.switchButton {
    margin-left: 10px;
}

.ligne {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
}

#plus {
    font-size: 100px;
}

.switch {
    display:none;
}

.label {
    border-radius: 20px;
    display: inline-block;
    float: right;
    height: 26px;
    overflow: hidden;
    padding: 1px;
}

.forme {
    background: #f4ffe6;
    border: 1px #cfc8bc solid;
    border-radius: 15px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 1), 0 1px 1px rgba(0, 0, 0, .15) inset;
    display: inline-block;
    height: 20px;
    margin-bottom: 15px;
    padding: 2px;
    position: relative;
}

#formeLight {
    width: 70px;
}

#formeShutter, #formeAuto {
    width: 100px;
}

.switch:checked ~ label .forme {
    background: #006d91;
}

.rond {
    background: #e3dde3;
    border-radius: 20px;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.3), 0 1px 1px rgba(255,255,255,.8) inset;
    display: inline-block;
    height: 20px;
    position: absolute;
    width: 20px;
}

.switch:checked ~ label .rond {
    right: 2px;
}

.rond:before {
    line-height: 22px;
    color: #FFF;
}

.rond:after {
    position: relative;
    color: black;
    top: 2px;
}

#rondLight:before {
    margin-left: -32px;
    content: "ON";
}

#rondLight:after {
    right: -36px;
    content: "OFF";
}

#rondShutter:before {
    margin-left: -64px;
    content: "FERME";
}

#rondShutter:after {
    right: -39px;
    content: "OUVERT";
}

#rondAuto:before {
    margin-left: -57px;
    content: "AUTO";
}

#rondAuto:after {
    right: -38px;
    content: "MANUEL";
}