#nameModif,#firstNameModif,#birthModif,#emailModif,#addressModif,#phoneModif,#password1Modif,#password2Modif{/* imput du form */
	display: none;
	margin-top: 13px;
	margin-left: 35px;
}
#name,#firstName,#birth,#email,#address,#phone,#password,#validate{/* text du form */
	margin: 22px;
}
.button{/* tout les bouton de la page */
	display: inline-block;
}
body{/* organisation de la page */
	text-align: center;
}
form{
	width: -moz-max-content;
	margin: auto;
	/* text-align: initial;  dépand des choix du client */
}