.checkboxSection{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11em, 1fr));
    border: #F4A460 solid;
}
.lblButton{
    margin-left: 10px;
}
p{
    display: contents;

}
label{
    max-width: 11em;
    margin: 5px;
}
#textfield{

    text-align: center;
}

form > section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#hiddenDelete{
    display: none;
}