.container{
    display:flex;
    justify-content : center;
}

h1{
    text-align: center;
}

a{
    color: #F4A460;
}

.lblButton{
    display: inline-block;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 2%;
}

input{
    text-align: left;
    width: 80%;
}

#submit{
    margin-left: 50%;
    transform: translate(-50%);
    width: auto;
}

fieldset{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2%;
}

fieldset.left {
    width: 15%;
}



.date{
    width: initial;
}

.complete{
    background-color: #eee;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 1px solid transparent;
}
.complete:invalid{
    border: 2px solid red;
}

.complete:hover{
    background-color: #ccc;
    border: 2px solid blue;
}
.complete:focus{
    border: 2px solid blue;
}

legend{
    text-align: center;
}

label{
    text-align: center;
}


@media screen and (max-width: 700px) {
    .container {
        flex-direction: column;
    }

    form {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
    }

    fieldset .left {
        width: auto;
    }
}


