body
{
	background: url('../../image/fond5.png');
	color: white;
}

.container
{
	display: flex;
    justify-content: space-around;
}

form
{
    padding-left: 200px;
    padding-right: 50px;
}

.rigthColumn
{
    padding-left: 300px;
    padding-right: 75px;
}


