.container
{
	display: flex;
    flex-direction: row;
    justify-content: space-around;
}

form
{
    width : 35%;
    margin: 5%;
}

#address {
    width: 40%;
}

#city {
    width: 45%;
}

#email {
    width: 40%;
}

.rigthColumn
{
    width: 60%;
    margin: 5%;
}

.rigthColumn p {
    text-align: justify;
}

input:invalid {
    border: 2px solid red;
}
.checkbox{
    height: 16px;
    width: 16px;
}
.button .checkbox:after {
    width: 6px;
    height: 6px;
}
body{
    color: #2196F3;
}
@media screen and (max-width: 700px){
    .container{
        flex-direction: column;
    }
    form
    {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
    }

    .rigthColumn
    {
        position: relative;
        left: 50%;
        transform: translate(-50%);

    }
}


