.container
{
	display: flex;
    flex-direction: row;
    justify-content: space-around;
}

form
{
    width : 35%;
    margin: 5%;
}

.rigthColumn
{
    width: 60%;
    margin: 5%;
    text-align: justify;
}

@media screen and (max-width: 700px){
    .container{
        flex-direction: column;
    }
    form
    {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
    }

    .rigthColumn
    {
        position: relative;
        left: 50%;
        transform: translate(-50%);

    }
}


