#statisticSection > h1{

    border: 1px solid white;
    padding: 0 10px;

}
.graphSection {
    height: 340px;
    visibility: hidden;
    position: absolute;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 0 60px;
}
.graphSection > div{
    margin : 2px;
    background-color: #2196F3;
}
#idValue{
    position: fixed;
    border-radius: 4px;
    padding: 0 4px;
    border: 1px solid #505050;
    background-color: #cccccc;
    color: #000;

}